.additional-products__title {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
  color: var(--basic-black);
  font-size: 24px;
  line-height: 24px;
}

.additional-products__table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-dark-gray);
}

.additional-products__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: var(--special-black-2);
}
