.additionally__list {
  margin: 0;
  padding: 35px 0;
  list-style: none;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    padding: 57px 0;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 221px);
    column-gap: 104px;
  }
}

.additionally__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additionally__label {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid var(--special-gray);
    margin-right: 16px;

    @media (min-width: $tablet) {
      margin-right: 19px;
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    content: "";
    width: 19px;
    height: 15px;
    position: absolute;
    transform: translateX(6px);

    @media (min-width: $tablet) {
      width: 25px;
      height: 20px;
    }
  }
}

.additionally__label:hover::before {
  border-color: var(--border-hover);
}

.additionally__checkbox:disabled + .additionally__label {
  opacity: 0.3;
}

.additionally__checkbox:checked + .additionally__label::after {
  background: url("../../icons/sprite.svg#mark") no-repeat center;

  @media (min-width: $tablet) {
    background-size: 25px 20px;
  }
}

.addititionally__subtitle {
  font-size: 24px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: none;
  padding-left: 20px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
  }
}
