.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 10px 20px;

  @media (min-width: $tablet) {
    padding: 16px 20px;
  }

  &:hover {
    background-color: var(--special-green-button);
  }

  &:active {
    color: var(--special-white);
  }
}

.button--more {
  &:hover {
    background-color: var(--special-border-gray);
  }

  &:active {
    color: var(--color-button-active-gray);
  }
}

.button--additional {
  @media (min-width: $tablet) {
    padding: 8px 20px;
  }

  @media (min-width: $desktop) {
    padding: 10px 20px;
  }
}
