.card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  color: var(--special-black-2);
  font-weight: 400;
  width: 57%;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 21px;
  }

  @media (min-width: $desktop) {
    line-height: 21px;
  }
}

.card__characteristic {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-dark-gray);
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $tablet) {
    font-size: 16px;
    min-width: 248px;
  }

  @media (min-width: $desktop) {
    min-width: auto;
  }
}

.card__characteristic-row {
  @media (min-width: $tablet) {
    border-bottom: 1px solid var(--special-gray);

    td {
      padding-bottom: 9px;
      padding-top: 7px;
    }
  }
}

.card__characteristic-data {
  text-align: right;
}

.card__image-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    width: 168px;
    height: 206px;
    margin-bottom: 34px;
    align-items: flex-end;
  }

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}

.card__description {
  width: 50%;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    width: 100%;
    padding-bottom: 33px;
  }
}

.card__button {
  width: 100%;
}

.card__image {
  @media (min-width: $tablet) {
    width: auto;
    height: auto;
  }
}
