.contacts__title {
  font-size: 24px;
  line-height: 26px;
  color: var(--basic-black);
  padding-left: 20px;
  padding-top: 26px;
  width: min-content;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 76px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet) {
    row-gap: 20px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__label {
  margin-right: 10px;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-right: 18px;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.contacts__input {
  flex-grow: 1;
  border: 1px solid var(--special-gray);
}

.contacts__input-icon {
  width: 18px;
  height: 13px;
  background-color: var(--basic-black);
  margin-left: -34px;
  margin-right: 15px;
}

.contacts__input:focus + .contacts__input-icon {
  background: var(--basic-green);
}


.contacts__input-icon--error {
  background-color: var(--color-error);
}

.contacts__input-icon--mail {
  mask: url("../../img/icon/icon-mail.svg") no-repeat center;
}

.contacts__input-icon--phone {
  mask: url("../../img/icon/icon-phone.svg") no-repeat center;
  width: 20px;
  height: 20px;
  transform: translateX(3px);
}
