.cooperation__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--special-black);
  width: 140px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 21px;
  }
}

.cooperation__address {
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-dark-gray);

  @media (min-width: $tablet) {
    font-size: 16px;
    width: 160px;
    text-align: right;

    span {
      display: block;
      margin-top: 18px;
    }

    @media (min-width: $desktop) {
      text-align: left;
    }
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 22px 0;

  @media (min-width: $tablet) {
    padding: 66px 42px 58px 42px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    padding: 66px 85px 56px 75px;
    position: absolute;
    background-color: var(--basic-white);
    top: 105px;
    align-items: center;
  }
}

.cooperation {
  background-color: var(--basic-gray);
  position: relative;

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.cooperation--index {
  background-color: var(--basic-white);
}
