.features__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 300px;
  padding-bottom: 47px;
  counter-reset: number;
  gap: 27px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 79px;
    padding-bottom: 0;
    gap: 37px;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.features__item {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  position: relative;

  @media (min-width: $tablet) {
    max-width: 250px;
    height: 280px;
    padding-left: 0;
    padding-bottom: 74px;
    display: flex;
    align-items: flex-end;

    &::after {
      counter-increment: number;
      content: counter(number);
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      top: -16px;
      right: 16px;
      color: var(--basic-gray);
      z-index: -1;

      @media (min-width: $tablet) {
        right: 0;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--basic-green);
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;

    @media (min-width: $tablet) {
      top: 8%;
      width: 80px;
      height: 80px;
    }
  }
}

.features__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__item--leaf {
  &::before {
    background-image: url("../../icons/sprite.svg#leaf");
  }
}

.features__item--tub {
  &::before {
    background-image: url("../../icons/sprite.svg#tub");
  }
}

.features__item--eat {
  &::before {
    background-image: url("../../icons/sprite.svg#eat");
  }
}

.features__item--clock {
  &::before {
    background-image: url("../../icons/sprite.svg#clock");
  }
}
