.form {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__parameters {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
  border-bottom: 1px solid var(--special-form-gray);
  padding-bottom: 23px;

  @media (min-width: $tablet) {
    border-bottom: 0;
    padding: 0  39px 72px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__program {
  margin: 0;
  padding: 0;
  border: none;
  color: var(--special-black-2);
  padding-top: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--special-form-gray);
  text-transform: uppercase;

  @media (min-width: $tablet) {
    border: 1px solid var(--special-input-gray);
    margin: 0 39px 71px;
    padding: 25px 30px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.form__contacts {
  margin: 0;
  padding: 25px 0;
  border: none;

  @media (min-width: $tablet) {
    padding: 76px 39px 65px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-bottom: 69px;
  }
}

.form__textarea-title {
  font-size: 24px;
  line-height: 26px;
  color: var(--basic-black);

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__textarea {
  margin-top: 38px;
  margin-bottom: 23px;
  border: 1px solid var(--special-input-gray);
  min-height: 150px;
  width: 100%;
  resize: none;

  @media (min-width: $tablet) {
    margin-top: 76px;
    margin-bottom: 67px;
  }
}

.form__textarea-wrapper {
  @media (min-width: $tablet) {
    padding: 0 39px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__additionally {
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    padding: 0 39px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.form__button {
  width: 100%;
  border: none;
  margin-bottom: 19px;
  font-size: 16px;

  @media (min-width: $tablet) {
    margin: 0;
    font-size: 20px;
  }
}

.form__correction {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: left;
  }
}

.form__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 12px;
  font-family: "Oswald", sans-serif;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 19px;
  }

  &::placeholder {
    color: var(--basic-dark-gray);
  }

  &:hover {
    border-color: var(--special-gray);
  }

  &:focus {
    outline: 2px solid var(--basic-dark-gray);
  }
}

.form__field--error {
  border: 2px solid var(--color-error);
}

.form__button-wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 285px 1fr;
    align-items: center;
    column-gap: 30px;
    padding: 0 39px;
  }

  @media (min-width: $desktop) {
    column-gap: 80px;
    padding: 0;
    grid-template-columns: 568px 180px;
  }
}

.form__layout-wrapper {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 65px;
  }
}

.form__title {
  width: fit-content;
  position: relative;
  --air-gap: 20px;

  @media (min-width: $tablet) {
    --air-gap: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--basic-green);
    height: 2px;
    width: calc(100vw - 100% - var(--air-gap));
    right: calc(100% + var(--air-gap));
    box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--basic-green);
    transform: translateY(13px);

    @media (min-width: $tablet) {
      transform: translateY(22px);
    }
  }
}
