.nav-list__item {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  font-weight: 500;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.nav-list__link {
  color: var(--basic-black);
  text-decoration: none;

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
  }
}

.nav-list__link-index {
  @media (min-width: $desktop) {
    color: var(--basic-white);
  }
}
