.page-footer {
  background-color: var(--basic-gray);
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 39px 0 22px 0;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop) {
    padding: 60px 0;
  }
}

.page-footer__logo {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--special-form-gray);
  width: 100%;

  @media (min-width: $tablet) {
    padding: 0;
    border: 0;
    width: auto;
  }
}

.page-footer__logo-icon {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding: 17px 0 16px;
  border-bottom: 1px solid var(--special-form-gray);
  width: 100%;

  @media (min-width: $tablet) {
    padding: 0;
    border: 0;
    width: auto;
  }
}

.page-footer__copyright {
  width: 100%;
  padding-top: 22px;

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
  }
}
