.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--basic-white);
}

.page__leveler {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 1220px;
  }
}

.page__leveler--tablet_off {
  @media (min-width: $tablet) {
    display: contents;
  }
}

.page__leveler--mobile_off {
  display: contents;

  @media (min-width: $tablet) {
    display: block;
  }
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
