.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  height: 37px;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    height: 52px;
  }

  @media (min-width: $desktop) {
    height: 59px;
  }
}

.page-header__wrapper {
  padding-top: 10px;

  @media (min-width: $tablet) {
    padding-top: 24px;
  }

  @media (min-width: $desktop) {
    padding-top: 53px;
  }
}
