.page-main__title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
