.program-goal__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  row-gap: 13px;

  @media (min-width: $desktop) {
    row-gap: 13px;
  }
}

.program-goal__item {
  margin: 0;
  padding: 0;
}

.program-goal__label {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--special-gray);
    margin-right: 15px;

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
      margin-right: 17px;
    }
  }

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(8px);

    @media (min-width: $tablet) {
      width: 18px;
      height: 18px;
      transform: translate(10px, 0);
    }

    @media (min-width: $desktop) {
      transform: translate(11px, 0);
    }
  }
}

.program-goal__label:hover::before {
  border-color: var(--border-hover);
}

.program-goal__radio:checked + .program-goal__label::after {
  background-color: var(--basic-green);
}

.program-goal__radio:disabled + .program-goal__label {
  opacity: 0.3;
}

.program-goal__radio:focus-visible + .program-goal__label::before {
  outline: 2px solid var(--basic-black);
  outline-offset: 2px;
}
