.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    min-width: 130px;
  }
}

.social__item {
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 24px;

  @media (min-width: $tablet) {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  gap: 10px;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    background-color: var(--icon-gray);
  }
}

.social__link:hover::before {
  background-color: var(--basic-green);
}

.social__link:active::before {
  opacity: 0.3;
}

.social__link--vk {
  &::before {
    mask: url("../../icons/sprite.svg#vk") no-repeat center;
    mask-size: 23px;

    @media (min-width: $tablet) {
      mask-size: 30px;
    }
  }
}

.social__link--instagram {
  &::before {
    mask: url("../../icons/sprite.svg#instagram") no-repeat center;
    mask-size: 16px;

    @media (min-width: $tablet) {
      mask-size: 23px;
    }
  }
}

.social__link--facebook {
  &::before {
    mask: url("../../icons/sprite.svg#facebook") no-repeat center;
    mask-size: 20px;

    @media (min-width: $tablet) {
      mask-size: 26px;
    }
  }
}
