:root {
  --basic-white: #ffffff;
  --basic-green: #68b738;
  --basic-gray: #f2f2f2;
  --special-gray: #cdcdcd;
  --basic-dark-gray: #444444;
  --special-light-gray: #eaeaea;
  --basic-black: #000000;
  --special-black: #111111;
  --special-black-2: #222222;
}

$mobile: 320px;
$tablet: 768px;
$desktop: 1320px;
